.chat-msgs {
    overflow-x: clip;
    overflow-y: auto;
    margin-top: auto;
    padding: 40px;
}

.chat {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.msg-block {
    padding: 14px;
    background-color: white;
    color: black;
    margin-left: 14px;
    margin-right: auto;
    float: left;
    clear: both;
    margin-bottom: 14px;
    border-radius: 10px;
    text-align: left;
    font-size: 18px;
    max-width: 700px;
    overflow-wrap: break-word;
    display: flex;
}

.msg-author {
    margin: unset;
    font-weight: 600;
    text-align: left;
    margin-bottom: 4px;
}

.curUserTrue {
    float: right;
    margin-left: auto;
    margin-right: 14px;
}

.msg-text {
    margin: unset;
    padding: 14px;
    background-color: #f2f3f7;
    border-radius: 0 10px 10px 10px;
}

.curUserTrue .msg-text {
    background-color: #6176f3;
    border-radius: 10px 0 10px 10px;
    color: #ebedfc;
}

.curUserTrue .msg-author {
    text-align: right;
}

.msg-avatar {
    width: 40px !important;
    margin: 0 14px;
}