.chat-list {
    padding: unset;
}

.bars {
    color: black;
    font-size: 18px;
}

.nav-search-input {
    border: none;
    outline: lightblue;
    padding: 14px;
    border-radius: 40px;
    background-color: rgb(243, 243, 243);
    flex-grow: 1;
}

.nav {
    padding: 14px;
    display: flex;
    align-items: center;
    position: relative;
}

.nav-menu {
    position: absolute;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    top: 60px;
    z-index: 3;
    padding: 8px;
    font-size: 18px;
    width: 100px;
    text-align: left;
}

.nav-menu-item {
    height: 32px;
    display: flex;
    align-items: center;
}

.nav-menu-item:hover {
    background-color: #f3f3f5;
}

.nav-link {
    margin-left: 4px;
    display: flex;
}

.nav-btn {
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 14px;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav-btn:hover {
    background-color: rgba(231, 229, 229, 0.897);
}

.nav-icon {
    color: #a2a1a9;
    font-size: 20px;
    width: 20px;
    margin-right: 8px;
}

.rippleContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.rippleContainer span {
    position: absolute;
    transform: scale(0);
    border-radius: 100%;
    opacity: 0.75;
    background-color: rgba(102, 102, 102, 0.596);
    animation: ripple 850ms;
}

@keyframes ripple {
    to {
        opacity: 0;
        transform: scale(2);
    }
}