.active {
    background-color: lightblue;
}

.active:hover {
    background-color: lightblue !important;
}

.chatItem-btn {
    display: flex;
    padding: 7px 14px;
    height: 72px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    text-align: left;
    cursor: pointer;
}

.chatItem-btn:hover {
    background-color: #f3f3f5;
}

.deleteChat-btn {
    margin-left: 4px;
    z-index: 2;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-bottom: auto;
}

.chatItem-text {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    z-index: 2;
    max-width: 80%;
    margin-left: 14px;
}

.chatname {
    margin: unset;
    font-size: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.last-msg {
    margin: unset;
    overflow: hidden;
    color: grey;
    font-size: 18px;
    text-overflow: ellipsis;
}

.chatItem-time {
    margin-left: auto;
    font-size: 14px;
    color: gray;
}

.avatar {
    width: 56px;
    height: auto;
    border-radius: 50%;
}